@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}
body {
	background-color: #000000f0;
	background-image: url(/assets/img/background.png);
}

.registerbtn {
	background-color: #ffb15e;
  	color: white;
  	padding: 16px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 100%;
  	opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

.register_form {
	padding: 16px;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	margin-left: -10px;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=email] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	margin-left: -10px;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.logo {
	display: block;
	max-height: 20%;
	max-width: 20%;
	margin-left: auto;
	margin-right: auto; 
}

.bar {
	display: block;
	/*background-image: url(/assets/img/nav_bar.png);
	background-color: #e3933d;*/
	max-width: 1200px;
	max-height: 105px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.error_bar {
	max-width: 1200px;
	max-height: 105px;
	display: block;
}

.social {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	display: inline-block;
}

li a {
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition:0.2s ease color;
}

li a:hover {
	/*background-image: url(/assets/img/nav_item.png);*/
	color:#A88951 !important;
}

li:last-child {
	border-right: none;
}

ul.nav_item li a {
	color: white;
	display: inline-block;
	font-family: sans-serif;
	text-decoration: none;
}

.container {
	display: table;
	margin-left: auto;
	margin-right: auto;
	align-items: flex-end;
}
iframe
{
	width:300px !important;
	height:500px;
	margin:0px auto;
}

.register {
	position:relative;
	bottom: 61px;
	background: url(/assets/img/register_background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 758px;
	border: 1px solid #ffb15e;
	padding: 50px;
	display: inline-block;
	text-align: center;
}

.register_form_inputs {
	margin-left: auto;
	margin-right: auto;
}

.about {
	background: url(/assets/img/about_background.jpg);
	background-repeat: no-repeat;
	background-position: right;
	background-size: cover;
	width: 300px;
	height: 758px;
	border: 1px solid #ffb15e;
	margin-right:20px;
	margin-left:20px;
	margin-top:10px;
	padding: 50px;
	display: inline-block;

}

.about_info {
	text-align: center;
}

.status {
	position: relative;
	~bottom: 20px;
	background: url(/assets/img/about_background.jpg);
	background-repeat: no-repeat;
	background-position: -90px;
	background-size: cover;
	width: 300px;
	height: 758px;
	border: 1px solid #ffb15e;
	padding: 50px;
	display: inline-block;
}

.status_info {
	text-align: center;
	color: white;
	text-shadow: 1px 1px #000;
}

.footer {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.copyright {
	display: block;
	text-align: center; 
}

p {
	color: white;
}


#error
{
	background-color:rgba(255,25,25,.7);
	padding:5px;
	position:relative;
	color:#fff;
	max-width: 1200px;
	max-height: 105px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#success
{
	background-color:rgba(25,255,25,.7);
	padding:5px;
	position:relative;
	color:#fff;
	max-width: 1200px;
	max-height: 105px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.server_box {
	background-color: #000;
	border: 1px solid;
	padding: 20px;
}

/*
	Fix phone.
*/

@media only screen and (max-width: 1100px) {
	.status, .about, .register
	{
		width:55vw;
		margin:0px 0px 0px 0px;
		position:relative;
		left:0px;
		right:0px;
		bottom:0px;
		margin-top:15px;
	}
	.container
	{
		width:5vw;
		margin:0px auto;
	}
	#success
	{
		width:55vw;
	}
	iframe 
	{
		display:none;
	}

}